#
# Normal rules (for compiled files)
#
.*
*.o
*.o.*
*.a
*.s
*.su
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.tar
*.patch
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.cmd
modules.builtin
Module.symvers
*.dwo
*.su
*.mod
*.lex.c
*.tab.[ch]
*.cpio
*.dtb

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinux.symvers
/System.map
/Module.markers
/modules.builtin.modinfo

#
# AnyKernel3 & ZIPs
#
AnyKernel3/
*.zip
*.gz
